.Section-1{
    background-image: url(Image/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    background-position: center;
}
.Donate-Now{
    text-align: center;
    color: white;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-20%, -20%);
}